<%- include("partials/header.ejs") %>
        <div class="hero-section">
            <h1>MAX REINSCH</h1>
            <ul>
                <li>FULL-STACK</li>
                <li>SOFTWARE DEVELOPER</li>
                <li>PROGRAMMER</li>
            </ul>
            <img src="images/Max1.png" alt="Max Reinsch" class="me">
        </div>

        <div class="about">
            <img src="images/Laptop.png" alt="Laptop" class="laptop-left">

            <div class="about-me">
                <h1>ABOUT ME</h1>
                <img src="images/Laptop.png" alt="Laptop" class="laptop-middle">
                <p>
                    I am a Computer Science BSc graduate aspiring to break into the tech industry. 
                    I am familiar with a multitude of languages such as Java, Python, JavaScript, 
                    C# and have excelled in modules on Python, databases, and front-end web-development. 
                    I have an eye for detail and a keen interest in Object-orientated programming and 
                    software projects.
                </p>

            </div>
                        
            <img src="images/Laptop.png" alt="Laptop" class="laptop-right">
        </div>

        <div class="work">
            
        </div>

        <div class="contact">
            
        </div>


    </div>      
<%- include("partials/footer.ejs") %> 
  

    